@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alex Brush";
  src: url("../public/fonts/AlexBrush-7XGA.ttf") format("truetype");
}

@font-face {
  font-family: "Salonica";
  src: url("../public/fonts/Salonica-Wym59.ttf") format("truetype");
}

@font-face {
  font-family: "Lemon Tuesday";
  src: url("../public/fonts/Lemon-Tuesday.otf") format("opentype");
}

@font-face {
  font-family: "Sage Sans";
  src: url("../public/fonts/sagesans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Amelies Zettelwirtschaft";
  src: url("../public/fonts/Amelies.ttf") format("truetype");
}

@font-face {
  font-family: "Biloxi Script";
  src: url("../public/fonts/Biloxi-Script.ttf") format("truetype");
}

@font-face {
  font-family: "Le Grand Saut";
  src: url("../public/fonts/le_Grand_Saut.ttf") format("truetype");
}

@font-face {
  font-family: "California Harvest";
  src: url("../public/fonts/CaliforniaHarvest.ttf") format("truetype");
}
